<!DOCTYPE html>
<html>
	<head>
		<title>n/a</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/static/css/main.css" type="text/css">
		<script src="/static/js/jquery-3.3.1.min.js"></script>
		<script src="/static/js/plotly-latest.min.js"></script>
	</head>
	<body style="font-size:18px;">
		<div id="darkened_back"></div>
		{% block content %}{% endblock %}
		<script src="/static/js/main.js"></script>

	</body>

</html>