<!DOCTYPE html>
<html>
	<head>
		<title>WhatTheHecht</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/static/css/main.css" type="text/css">
	</head>
	<body style="font-size:14px;">
		<div id="darkened_back"></div>
		<div id="nav">
			<a href="">Defensive Ranks</a>
			/
			<a href="">RBBC Trends</a>
			/
			<a href="">Redzone Look Trends</a>
		</div>

		<script src="/static/js/main.js"></script>

	</body>

</html>