<!DOCTYPE html>
<html>
	<head>
		<title>March Madness</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/static/css/nhlteams.css" type="text/css">
		<script type="text/javascript" src="/static/js/tabulator.min.js"></script>
		<link href="/static/css/tabulator.min.css" rel="stylesheet">
	</head>
	<style>
		body {
			margin: 0;
			font-size: 18px;
			height: 100vh;
		}
		#propsTable {
			
		}
		#tableDiv {
			display: flex;
			justify-content: center;
			height: 85%;
		}
		#header {
			height: 7.5%;
		}
		#footer {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.negative { color: red; }
		.positive { color: green; }
	</style>
	<body>
		<div id="header">
		</div>
		<div id="tableDiv">
			<div id="propsTable">
				<!-- {{table|safe}} -->
			</div>
		</div>
		<div id="footer">
			<button onclick="compare();">Compare</button>
			<button onclick="seedless();">Seedless</button>
			<button onclick="clearFilter();">Clear Filter</button>
			<button onclick="groupBy();">Group By</button>
		</div>
		<script>
			let TABLE;
			const percentFormatter = function(cell, params, rendered) {
				return cell.getValue()+"%";
			}

			const percentileFormatter = function(cell, params, rendered) {
				const val = parseInt(cell.getValue());
				let suffix = "";
				let a = val % 10;
				let b = val % 100;
				if (a == 1 && b != 11) {
					suffix = "st";
				} else if (a == 2 && b != 12) {
					suffix = "nd";
				} else if (a == 3 && b != 13) {
					suffix = "rd";
				} else {
					suffix = "th";
				}
				let class_ = "";
				if (val >= 70) {
					class_ = "positive";
				} else if (val <= 30) {
					class_ = "negative";
				}
				const html = "<div class='"+class_+"'>"+val+suffix+"</div>";
				return html;
			}

			const teamFormatter = function(cell, params, rendered) {
				const div = document.createElement("div");
				div.className = cell.getValue().toLowerCase();
				div.innerText = cell.getValue().toUpperCase();
				return div;
			}

			const linkFormatter = function(cell, params, rendered) {

				const a = "<a href='https://baseballsavant.mlb.com/savant-player/"+cell.getData().player.toLowerCase().replaceAll(" ", "-")+"-"+cell.getData().savantId+"' target='_blank'>Link</a>"
				return a;
			}

			function renderTable() {
				TABLE = new Tabulator("#propsTable", {
					tooltipsHeader: true,
					ajaxURL: "/getMarch",
					ajaxParams:{},
					responsiveLayout:"collapse",
					//responsiveLayoutCollapseStartOpen: "{{prop}}" == "sv" ? true : false,
					responsiveLayoutCollapseStartOpen: false,
					//layout: "fitDataFill",
					//layout: window.innerWidth <= 450 ? "fitData" : "fitColumns",
					groupBy: "matchup",
					groupHeader: function(value, count, data, group){
						return "<span>"+value+"</span>";
					},
					initialSort: [
						{column: "kpRank", dir: "asc"},
					],
					columns: [
						//{formatter:"responsiveCollapse", width:30, minWidth:30, hozAlign:"center", resizable:false, headerSort:false},
                        {formatter:"rowSelection", hozAlign:"center", headerSort:false, cellClick:function(e, cell){
                            cell.getRow().toggleSelect();
                        }},
                        {title: "Rank", field: "kpRank", hozAlign: "center", sorter: "number", width: 30},
						{title: "Team", field: "team", headerFilter: "input", width: 100},
						{title: "Seed", field: "seed", hozAlign: "center", width: 30},
						{title: "W-L", field: "record", hozAlign: "center"},
						{title: "AdjEM", field: "adjEM", hozAlign: "center", width: 80},
						{title: "AdjOff", field: "adjO", hozAlign: "center", width: 80},
						{title: "AdjDef", field: "adjD", hozAlign: "center", width: 80},
						{title: "AdjTemp", field: "adjT", hozAlign: "center", width: 80},
						{title: "Luck", field: "luck", hozAlign: "center", width: 80},
						{title: "SOS", field: "sos", hozAlign: "center", width: 80},
						{title: "Adj Opp Off", field: "oppO", hozAlign: "center", width: 80},
						{title: "Adj Opp Def", field: "oppD", hozAlign: "center", width: 80},
						{title: "NC SOS", field: "nonConfSOS", hozAlign: "center", width: 80},
						{title: "FD", field: "fd", hozAlign: "center"},
						{title: "DK", field: "dk", hozAlign: "center"},
						{title: "PN", field: "pn", hozAlign: "center"},
						{title: "Kambi", field: "kambi", hozAlign: "center"},
						{title: "MGM", field: "mgm", hozAlign: "center"},
						{title: "CZ", field: "cz", hozAlign: "center"},
						{title: "ESPN", field: "espn", hozAlign: "center"},
						{title: "365", field: "bet365", hozAlign: "center"}
					]
				})
				TABLE.on("rowClick", function(e, row) {
					row.getElement().querySelector("input").click();
				});
				TABLE.setFilter([{field:"seed", type:"!=", value:0}]);
			}

			renderTable();

			function compare() {
				let rows = TABLE.getSelectedRows();
				if (rows.length >= 2) {
					const ranks = [];
					for (let row of rows) {
						ranks.push(parseInt(row.getData().kpRank));
					}
					TABLE.addFilter("kpRank", "in", ranks);
				}
			}

			function clearFilter() {
				TABLE.setFilter([{field:"seed", type:"!=", value:0}]);
				let rows = TABLE.getSelectedRows();
				for (let row of rows) {
					row.getElement().querySelector("input").click();
				}
			}

			let isSeedless = false;
			function seedless() {
				TABLE.removeFilter("seed", "!=", 0);
				if (isSeedless) {
					TABLE.addFilter("seed", "!=", 0);
				}
				isSeedless = !isSeedless;
			}

			function groupBy() {
				if (TABLE.options.groupBy === undefined) {
					TABLE.setGroupBy("game");
				} else {
					TABLE.setGroupBy();
				}
			}
		</script>
	</body>

</html>