
.ari {
	background: rgb(167, 25, 48);
	color: #e3d4ad;
}

.atl {
	color: rgb(186, 12, 47);
	background: rgb(0, 40, 85);
}

.bal {
	background: black;
	color: #fc4c02;
}

.bos {
	color: white;
	background: #c8102e;
}

.chc {
	background: #002f6c;
	color: white;
}

.chw {
	background: #27251f;
}

.cin {
	background: #d50032;
}

.cle {
	background: #e50022;
	color: #00485d;
}

.col {
	background: #333366;
	color: silver;
}

.det {
	background: #0c2340;
	color: #fa4616;
}

.hou {
	background: #002d62;
	color: #eb6e1f;
}

.kc {
	background: #004687;
	color:gold;
}

.laa {
	background: midnightblue;
	color: red;
}

.lad {
	background: dodgerblue;
	color: white;
}

.mia {
	background: #00a3e0;
	color: white;
}

.mil {
	background: #12284b;
	color: yellow;
}

.min {
	background: #002b5c;
color: #d31145;
}

.nym {
	background: #002d72;
	color:  #fc4c02;
}

.nyy {
	background: #003087;
	color: white;
}

.oak {
	background: #003831;
	color: gold;
}

.phi {
	background: #002d72;
	color: #e81828;
}

.pit {
	background: #ffc72c;
	color: black;
}

.stl {
	background: #c41e3a;
color: white;
}

.sd {
	background: #2f241d;
color: #ffc425;
}

.sf {
	background: #fa4616;
}

.sea {
	background: #0c2c56;
	color: silver;
}

.tb {
	background: #092c5c;
color: white;
}

.tex {
	background: #c0111f;
color: #003278;
}

.tor {
	background: #134a8e;
color: white;
}

.wsh {
	background: #ba122b;
}