
.atl {
	background: #e03a3e;
	color: #c1d32f;
}

.bos {
	background: #007a33;
	color: white;
}

.bkn {
	background: black;
	color:  white;
}

.cha {
	background: #1d1160;
	color: #a1a1a4;
}

.chi {
	background: #ce1141;
	color: white;
}

.dal {
	background: #00538c;
	color: #b8c4ca;
}

.den {
	background: #0e2240;
	color: #fec524;
}

.det {
	background: #1d42ba;
	color: #c8102e;
}

.mia {
	background: #98002e;
	color: #f9a01b;
}

.gs {
	background: #1d428a;
	color: #ffc72c;
}

.hou {
	background: #ce1141;
	color: white;
}

.ind {
	background: #002d62;
	color: #fdbb30;
}

.phx, .pho {
	background: #e56020;
	color: white;
}

.lac {
	background: #c8102e;
	color: #1d428a;

	/* midnight */
	background:rgb(160, 13, 37);
	color: rgb(130, 179, 229);
}

.lal {
	color: #f9a01b;
	background: #552583;
}

.mem {
	background: #12173f;
	color: #5d76a9;
}

.mil {
	background: #00471b;
	color: white;
}

.min {
	background: #0c2340;
	color: #236192;
}

.no {
	background: #0c2340;
	color: #c8102e;
}

.ny {
	background: #006bb6;
	color: #f58426;
}

.okc {
	background: #ef3b24;
	color: #007ac1;

	/* midnight */
	background-color: rgb(179, 32, 13);
	color: rgb(69, 187, 255);
}

.orl {
	background: #0077c0;
	color: white;
}

.phi {
	background: #006bb6;
	color: #ed174c;
}

.por {
	background: #e03a3e;
	color: white;
}

.sac {
	background: #5a2d81;
	color: #64727a;

	/* midnight */
	background-color: rgb(72, 36, 103);
	color: rgb(162, 154, 142);
}

.sa {
	background: #c4ced4;
	color: black;
}

.tor {
	background: #ce1141;
	color: black;
}

.utah {
	background: #002b5c;
	color: #f9a01b;
}

.cle {
	background: #860038;
	color: #fdbb30;
}

.wsh, .was {
	background: #002b5c;
	color: #e31837;
}