.central-florida-knights {
	color: #fff;
	background-color: #ba9b37;
}

.cinc {
	color: #fff;
	background-color: #e00122;
}

.conn {
	color: #fff;
	background-color: #000e2f;
}

.east-carolina {
	color: #fff;
	background-color: #592a8a;
}

.houston {
	color: #fff;
	background-color: #c8102e;
}

.memphis {
	color: #fff;
	background-color: #003087;
}

.navy {
	color: #fff;
	background-color: #00205b;
}

.smu {
	color: #fff;
	background-color: #0033a0;
}

.south-florida {
	color: #fff;
	background-color: #006747;
}

.temple {
	color: #fff;
	background-color: #9d2235;
}

.tulane {
	color: #fff;
	background-color: #006747;
}

.tulsa {
	color: #fff;
	background-color: #002d72;
}

.wich {
	color: #fff;
	background-color: #000;
}

.albany {
	color: #fff;
	background-color: #461660;
}

.bing {
	color: #fff;
	background-color: #005a43;
}

.hart {
	color: #fff;
	background-color: #c02427;
}

.maine {
	color: #fff;
	background-color: #003263;
}

.new-hampshire {
	color: #fff;
	background-color: #041e42;
}

.stony-brook {
	color: #fff;
	background-color: #900;
}

.umass-lowell {
	color: #fff;
	background-color: #003da5;
}

.umbc {
	color: #fff;
	background-color: #b18906;
}

.vermont {
	color: #fff;
	background-color: #154734;
}

.boston-college {
	color: #fff;
	background-color: #98002e;
}

.clem {
	color: #fff;
	background-color: #f66733;
}

.duke {
	color: #fff;
	background-color: #001a57;
}

.florida-state {
	color: #ceb888;
	background-color: #782f40;
}

.georgia-tech {
	color: #fff;
	background-color: #eeb211;
}

.louisville {
	color: #fff;
	background-color: #ad0000;
}

.miami {
	color: #fff;
	background-color: #f47321;
}

.north-carolina {
	color: #e1e1e1;
	background-color: #4b9cd3;
}

.north-carolina-state {
	color: #fff;
	background-color: #c00;
}

.notre-dame {
	color: #fff;
	background-color: #0c2340;
}

.pitt {
	color: #fff;
	background-color: #003594;
}

.syracuse {
	color: #e8eaeb;
	background-color: #d44500;
}

.virginia {
	color: #fff;
	background-color: #232d4b;
}

.virginia-tech {
	color: #fff;
	background-color: #8a1e41;
}

.wake {
	color: #fff;
	background-color: #a67f31;
}

.florida-gulf-coast {
	color: #fff;
	background-color: #002d72;
}

.jacksonville {
	color: #fff;
	background-color: #004e44;
}

.kenn {
	color: #000;
	background-color: #fdbb30;
}

.lib {
	color: #fff;
	background-color: #002d62;
}

.lipscomb-university {
	color: #fff;
	background-color: #331e54;
}

.north-alabama {
	color: #fff;
	background-color: #46166b;
}

.njit {
	color: #fff;
	background-color: #d22630;
}

.north-florida {
	color: #fff;
	background-color: #00246b;
}

.south-carolina-upstate {
	color: #fff;
	background-color: #00703c;
}

.stet {
	color: #fff;
	background-color: #00703c;
}

.butler {
	color: #fff;
	background-color: #13294b;
}

.crei {
	color: #fff;
	background-color: #005ca9;
}

.depaul {
	color: #fff;
	background-color: #005eb8;
}

.georgetown {
	color: #fff;
	background-color: #041e42;
}

.marq {
	color: #fff;
	background-color: #036;
}

.prov {
	color: #fff;
	background-color: #000;
}

.seton-hall {
	color: #fff;
	background-color: #048;
}

.st-john’s {
	color: #fff;
	background-color: #ba0c2f;
}

.vill {
	color: #fff;
	background-color: #00205b;
}

.xavier {
	color: #fff;
	background-color: #0c2340;
}

.eastern-washington {
	color: #fff;
	background-color: #a10022;
}

.idaho {
	color: #fff;
	background-color: #b3a369;
}

.idaho-state {
	color: #fff;
	background-color: #603;
}

.mont {
	color: #fff;
	background-color: #603;
}

.mont {
	color: #fff;
	background-color: #00205b;
}

.northern-arizona {
	color: #fff;
	background-color: #003466;
}

.northern-colorado {
	color: #fff;
	background-color: #013c65;
}

.port {
	color: #fff;
	background-color: #154734;
}

.sacramento-state {
	color: #fff;
	background-color: #043927;
}

.southern-utah {
	color: #fff;
	background-color: #c41425;
}

.weber-state {
	color: #fff;
	background-color: #4b2682;
}

.campbell-fighting-camels {
	color: #000;
	background-color: #f58025;
}

.charleston-buccaneers {
	color: #000;
	background-color: #a8996e;
}

.gardner-webb-bulldogs {
	color: #fff;
	background-color: #bf2f37;
}

.hamp {
	color: #fff;
	background-color: #0060a9;
}

.hp {
	color: #fff;
	background-color: #330072;
}

.long {
	color: #fff;
	background-color: #15213b;
}

.pre {
	color: #fff;
	background-color: #0060a9;
}

.radford-highlanders {
	color: #fff;
	background-color: #c2011b;
}

.unca {
	color: #fff;
	background-color: #003da5;
}

.win {
	color: #fff;
	background-color: #600;
}

.cal-poly {
	color: #fff;
	background-color: #003831;
}

.cal-state-fullerton {
	color: #fff;
	background-color: #00274c;
}

.csun {
	color: #fff;
	background-color: #ce1126;
}

.hawaii {
	color: #fff;
	background-color: #154734;
}

.long {
	color: #fff;
	background-color: #000;
}

.uc-davis {
	color: #fff;
	background-color: #002855;
}

.uc-irvine {
	color: #fff;
	background-color: #0c2340;
}

.uc-riverside {
	color: #fff;
	background-color: #2d6cc0;
}

.uc-santa-barbara {
	color: #fff;
	background-color: #003660;
}

.illinois {
	color: #fff;
	background-color: #13294b;
}

.indiana {
	color: #eeedeb;
	background-color: #900;
}

.iowa {
	color: #000;
	background-color: #ffcd00;
}

.maryland {
	color: #fff;
	background-color: #e03a3e;
}

.mich {
	color: #ffcb05;
	background-color: #00274c;
}

.msu {
	color: #fff;
	background-color: #18453b;
}

.minn {
	color: #fc3;
	background-color: #7a0019;
}

.nebraska {
	color: #fff;
	background-color: #c8102e;
}

.northwestern {
	color: #fff;
	background-color: #4e2a84;
}

.osu {
	color: #fff;
	background-color: #b00;
}

.penn-state {
	color: #fff;
	background-color: #093162;
}

.purdue {
	color: #fff;
	background-color: #000;
}

.rutg {
	color: #fff;
	background-color: #c03;
}

.wisc {
	color: #fff;
	background-color: #c50505;
}

.baylor {
	color: #fff;
	background-color: #1d3c34;
}

.isu {
	color: #fff;
	background-color: #c8102e;
}

.kansas {
	color: #ffc82d;
	background-color: #0051ba;
}

.kansas-state {
	color: #fff;
	background-color: #512888;
}

.oklahoma {
	color: #fff;
	background-color: #841617;
}

.oklahoma-state {
	color: #fff;
	background-color: #ff7300;
}

.texas {
	color: #fff;
	background-color: #bf5700;
}

.texas-christian {
	color: #fff;
	background-color: #4d1979;
}

.texas-tech {
	color: #fff;
	background-color: #c00;
}

.west-virginia {
	color: #fff;
	background-color: #002855;
}

.cofc {
	color: #fff;
	background-color: maroon;
}

.del {
	color: #fff;
	background-color: #00539f;
}

.drexel-dragons {
	color: #fff;
	background-color: #ffda02;
}

.elon-phoenix {
	color: #fff;
	background-color: #73000a;
}

.hof {
	color: #fff;
	background-color: #0b1e73;
}

.jmu {
	color: #fff;
	background-color: #450084;
}

.ne {
	color: #fff;
	background-color: #d41b2c;
}

.tow {
	color: #fff;
	background-color: #fb0;
}

.unc-seahawks {
	color: #fff;
	background-color: #036;
}

.william--mary-tribe {
	color: #fff;
	background-color: #115740;
}

.charlotte {
	color: #fff;
	background-color: #046a38;
}

.florida-atlantic-fau {
	color: #fff;
	background-color: #036;
}

.florida-international-fiu {
	color: #fff;
	background-color: #081e3f;
}

.louisiana-tech {
	color: #fff;
	background-color: #e31b23;
}

.marshall {
	color: #fff;
	background-color: #00b140;
}

.middle-tennessee {
	color: #fff;
	background-color: #06c;
}

.north-texas {
	color: #fff;
	background-color: #00853e;
}

.old-dominion {
	color: #fff;
	background-color: #003057;
}

.rice {
	color: #fff;
	background-color: #00205b;
}

.southern-miss {
	color: #fff;
	background-color: #000;
}

.uab {
	color: #fff;
	background-color: #006341;
}

.utep {
	color: #fff;
	background-color: #ff8200;
}

.utsa {
	color: #fff;
	background-color: #f15a22;
}

.wku {
	color: #fff;
	background-color: #c60c30;
}

.clev {
	color: #fff;
	background-color: #006747;
}

.detroit-mercy {
	color: #fff;
	background-color: #a6093d;
}

.green-bay {
	color: #fff;
	background-color: #006747;
}

.iupu {
	color: #fff;
	background-color: #9d2235;
}

.milw {
	color: #000;
	background-color: #ffbd00;
}

.northern-kentucky {
	color: #000;
	background-color: #ffc72c;
}

.oakland {
	color: #fff;
	background-color: #b59a57;
}

.uic {
	color: #fff;
	background-color: #041e42;
}

.wright-state {
	color: #fff;
	background-color: #026937;
}

.youngstown-state {
	color: #fff;
	background-color: #c8102e;
}

.brown {
	color: #fff;
	background-color: #4e3629;
}

.colu {
	color: #fff;
	background-color: #003865;
}

.cornell {
	color: #fff;
	background-color: #b31b1b;
}

.dart {
	color: #fff;
	background-color: #046a38;
}

.harvard {
	color: #fff;
	background-color: #a41034;
}

.penn {
	color: #fff;
	background-color: #011f5b;
}

.princeton {
	color: #fff;
	background-color: #ff671f;
}

.yale {
	color: #fff;
	background-color: #00356b;
}

.canisius {
	color: #fff;
	background-color: #0c2340;
}

.fairfield {
	color: #fff;
	background-color: #c8102e;
}

.iona {
	color: #fff;
	background-color: #6f2c3f;
}

.manhattan {
	color: #fff;
	background-color: #00703c;
}

.marist {
	color: #fff;
	background-color: #c8102e;
}

.monm {
	color: #fff;
	background-color: #041e42;
}

.niagara {
	color: #fff;
	background-color: #582c83;
}

.rider {
	color: #fff;
	background-color: #981e32;
}

.st-peter’s {
	color: #fff;
	background-color: #003c71;
}

.quinnipiac-bobcats {
	color: #fff;
	background-color: #0c2340;
}

.siena {
	color: #fff;
	background-color: #006747;
}

.akron {
	color: #fff;
	background-color: #041e42;
}

.bowling-green {
	color: #fff;
	background-color: #4f2c1d;
}

.buff {
	color: #fff;
	background-color: #005bbb;
}

.kent {
	color: #fff;
	background-color: #002664;
}

.miami {
	color: #fff;
	background-color: #b61e2e;
}

.ohio {
	color: #fff;
	background-color: #00694e;
}

.ball {
	color: #fff;
	background-color: #ba0c2f;
}

.central-michigan {
	color: #fff;
	background-color: #6a0032;
}

.eastern-michigan {
	color: #fff;
	background-color: #063;
}

.northern-illinois {
	color: #fff;
	background-color: #ba0c2f;
}

.toledo {
	color: #fff;
	background-color: #15397f;
}

.western-michigan {
	color: #fff;
	background-color: #15397f;
}

.b-c-wildcats {
	color: #fff;
	background-color: #f2a900;
}

.copp {
	color: #fff;
	background-color: #003056;
}

.dsu {
	color: #fff;
	background-color: #ee3124;
}

.florida-am-rattlers {
	color: #fff;
	background-color: #ee7624;
}

.howard-bisons {
	color: #fff;
	background-color: #003a63;
}

.maryland-es-hawks {
	color: #fff;
	background-color: #862633;
}

.morg {
	color: #fff;
	background-color: #1b4383;
}

.norf {
	color: #fff;
	background-color: #007a53;
}

.north-carolina-aggies {
	color: #fff;
	background-color: #f3b237;
}

.north-carolina-eagles {
	color: #fff;
	background-color: #880023;
}

.south-carolina-bulldogs {
	color: #fff;
	background-color: #862633;
}

.brad {
	color: #fff;
	background-color: #a50000;
}

.drake {
	color: #fff;
	background-color: #047;
}

.evan {
	color: #fff;
	background-color: #52237f;
}

.illinois-state {
	color: #fff;
	background-color: #ce1126;
}

.indiana-state {
	color: #fff;
	background-color: #0142bc;
}

.loyola {
	color: #fff;
	background-color: #922247;
}

.missouri-state {
	color: #fff;
	background-color: #5e0009;
}

.northern-iowa {
	color: #fff;
	background-color: #4b116f;
}

.southern-illinois {
	color: #fff;
	background-color: #720000;
}

.valparaiso {
	color: #fff;
	background-color: #381e0e;
}

.air-force {
	color: #fff;
	background-color: #003087;
}

.bois {
	color: #fff;
	background-color: #0033a0;
}

.colo {
	color: #fff;
	background-color: #1e4d2b;
}

.fresno-state {
	color: #fff;
	background-color: #db0032;
}

.hawaii {
	color: #fff;
	background-color: #024731;
}

.nevada {
	color: #fff;
	background-color: #036;
}

.new-mexico {
	color: #fff;
	background-color: #ba0c2f;
}

.san-diego-state {
	color: #fff;
	background-color: #a6192e;
}

.san-jose-state {
	color: #fff;
	background-color: #0055a2;
}

.unlv {
	color: #fff;
	background-color: #b10202;
}

.utah {
	color: #fff;
	background-color: #0f2439;
}

.wyoming {
	color: #fff;
	background-color: #492f24;
}

.bryant-bulldogs {
	color: #fff;
	background-color: #b4975b;
}

.c-c-blue-devils {
	color: #fff;
	background-color: #00539b;
}

.f-dickinson-knights {
	color: #fff;
	background-color: #72293c;
}

.long {
	color: #fff;
	background-color: #69b3e7;
}

.merrimack-warriors {
	color: #fff;
	background-color: #003768;
}

.stmary’s-mountaineers {
	color: #fff;
	background-color: #84754e;
}

.rmu {
	color: #fff;
	background-color: #14234b;
}

.shu {
	color: #fff;
	background-color: #ce1141;
}

.stfrancis-terriers {
	color: #fff;
	background-color: #005496;
}

.stfrancis-red-flash {
	color: #fff;
	background-color: #bd1f25;
}

.wag {
	color: #fff;
	background-color: #00483a;
}

.austin-peay-governors {
	color: #fff;
	background-color: #c41e3a;
}

.belmont-bruins {
	color: #fff;
	background-color: #00205b;
}

.eiu {
	color: #fff;
	background-color: #919295;
}

.e-kentucky-colonels {
	color: #fff;
	background-color: #8a0039;
}

.j-state-gamecocks {
	color: #fff;
	background-color: #c00;
}

.more {
	color: #fff;
	background-color: #ffcf00;
}

.mur {
	color: #fff;
	background-color: #ecac00;
}

.se-ms-redhawks {
	color: #fff;
	background-color: #000;
}

.siue {
	color: #fff;
	background-color: #ef3829;
}

.tnst {
	color: #fff;
	background-color: #00539f;
}

.tenn {
	color: #fff;
	background-color: #4f2984;
}

.utm {
	color: #fff;
	background-color: #f79728;
}

.ariz {
	color: #fff;
	background-color: #c03;
}

.ariz {
	color: #fff;
	background-color: #8c1d40;
}

.california {
	color: #fdb515;
	background-color: #003262;
}

.colo {
	color: #000;
	background-color: #cfb87c;
}

.oregon {
	color: #fff;
	background-color: #154733;
}

.oregon-state {
	color: #fff;
	background-color: #dc4405;
}

.stan {
	color: #fff;
	background-color: #8c1515;
}

.ucla {
	color: #fff;
	background-color: #2d68c4;
}

.usc {
	color: #ffc72c;
	background-color: #9d2235;
}

.utah {
	color: #fff;
	background-color: #c00;
}

.washington {
	color: #fff;
	background-color: #4b2e83;
}

.washington-state {
	color: #fff;
	background-color: #981e32;
}

.amer {
	color: #fff;
	background-color: #143d8d;
}

.army {
	color: #000;
	background-color: #d4bf91;
}

.bu {
	color: #fff;
	background-color: #c00;
}

.buck {
	color: #fff;
	background-color: #e87722;
}

.colg {
	color: #fff;
	background-color: #821019;
}

.holy-cross {
	color: #fff;
	background-color: #602d89;
}

.laf {
	color: #fff;
	background-color: #98002e;
}

.leh {
	color: #fff;
	background-color: #653600;
}

.loyola-md-greyhounds {
	color: #fff;
	background-color: #00694e;
}

.navy {
	color: #fff;
	background-color: #00205b;
}

.alabama {
	color: #fff;
	background-color: #9e1b32;
}

.arkansas {
	color: #fff;
	background-color: #9d2235;
}

.auburn {
	color: #fff;
	background-color: #0c2350;
}

.florida {
	color: #fff;
	background-color: #fa4616;
}

.georgia {
	color: #fff;
	background-color: #ba0c2f;
}

.kent {
	color: #fff;
	background-color: #0033a0;
}

.louisiana-state {
	color: #fff;
	background-color: #461d7c;
}

.mississippi {
	color: #fff;
	background-color: #13294b;
}

.mississippi-state {
	color: #fff;
	background-color: #600;
}

.missouri {
	color: #000;
	background-color: #f1b82d;
}

.south-carolina {
	color: #fff;
	background-color: #73000a;
}

.tenn {
	color: #fff;
	background-color: #ff8200;
}

.texas-am {
	color: #fff;
	background-color: #500000;
}

.vanderbilt {
	color: #fff;
	background-color: #866d4b;
}

.chattanooga {
	color: #fff;
	background-color: #00386b;
}

.etsu {
	color: #fff;
	background-color: #041e42;
}

.mercer {
	color: #fff;
	background-color: #f76800;
}

.furman {
	color: #fff;
	background-color: #201547;
}

.samford {
	color: #fff;
	background-color: #002649;
}

.the-citadel {
	color: #fff;
	background-color: #3975b7;
}

.unc-greensboro {
	color: #fff;
	background-color: #0f2044;
}

.vmi {
	color: #fff;
	background-color: #a71f23;
}

.western-carolina {
	color: #fff;
	background-color: #592c88;
}

.wofford {
	color: #fff;
	background-color: #886e4c;
}

.abilene-christian-wildcats {
	color: #fff;
	background-color: #4f2170;
}

.central-arkansas-bears {
	color: #fff;
	background-color: #4f2d7f;
}

.houston-baptist-huskies {
	color: #fff;
	background-color: #1c4e9d;
}

.uiw {
	color: #fff;
	background-color: #cb333b;
}

.lam {
	color: #fff;
	background-color: #dc0032;
}

.mcn {
	color: #fff;
	background-color: #00529b;
}

.uno {
	color: #fff;
	background-color: #005ca6;
}

.nich {
	color: #fff;
	background-color: #ae132a;
}

.ns-demons {
	color: #fff;
	background-color: #639;
}

.shs-bearkats {
	color: #fff;
	background-color: #fe5100;
}

.se-louisiana-lions {
	color: #fff;
	background-color: #006341;
}

.stephen-fa-lumberjacks {
	color: #fff;
	background-color: #613393;
}

.texas-am-cc-islanders {
	color: #fff;
	background-color: #0067c5;
}

.denver {
	color: #fff;
	background-color: #8b2332;
}

.fort-wayne {
	color: #fff;
	background-color: #002f6c;
}

.ndsu {
	color: #fff;
	background-color: #0a5640;
}

.north-dakota {
	color: #fff;
	background-color: #009a44;
}

.omaha {
	color: #fff;
	background-color: #000;
}

.oral-roberts {
	color: #fff;
	background-color: #002f60;
}

.south-dakota {
	color: #fff;
	background-color: #ad0000;
}

.south-dakota-state {
	color: #fff;
	background-color: #0033a0;
}

.western-illinois {
	color: #fff;
	background-color: #639;
}

.appalachian-state {
	color: #fff;
	background-color: #222;
}

.arkansas-little-rock {
	color: #fff;
	background-color: #6e2639;
}

.arkansas-state {
	color: #fff;
	background-color: #cc092f;
}

.coastal-carolina {
	color: #fff;
	background-color: #006f71;
}

.georgia-southern {
	color: #fff;
	background-color: #011e41;
}

.georgia-state {
	color: #fff;
	background-color: #0039a6;
}

.louisiana {
	color: #fff;
	background-color: #ce181e;
}

.louisiana-monroe {
	color: #fff;
	background-color: #800029;
}

.south-alabama {
	color: #fff;
	background-color: #00205b;
}

.texas-arlington {
	color: #fff;
	background-color: #0064b1;
}

.texas-state {
	color: #fff;
	background-color: #501214;
}

.troy {
	color: #fff;
	background-color: #8a2432;
}

.alabama-am-bulldogs {
	color: #fff;
	background-color: #600;
}

.alabama-state-hornets {
	color: #fff;
	background-color: #c99700;
}

.alcn {
	color: #fff;
	background-color: #4b306a;
}

.arkansas-golden-lions {
	color: #fff;
	background-color: #eeb310;
}

.grambling-tigers {
	color: #fff;
	background-color: #eaa921;
}

.jkst {
	color: #fff;
	background-color: #002147;
}

.mississippi-delta-devils {
	color: #fff;
	background-color: #00703c;
}

.prairie-view-panthers {
	color: #fff;
	background-color: #306;
}

.sou {
	color: #fff;
	background-color: #58b6e7;
}

.txso {
	color: #fff;
	background-color: #7c183e;
}

.california-baptist-lancers {
	color: #fff;
	background-color: #002554;
}

.csub-bakersfield {
	color: #fff;
	background-color: #005daa;
}

.chicago-state {
	color: #fff;
	background-color: #066;
}

.grand-canyon {
	color: #fff;
	background-color: #522398;
}

.umkc {
	color: #fff;
	background-color: #005293;
}

.new-mexico-state {
	color: #fff;
	background-color: #861f41;
}

.seattle-university {
	color: #fff;
	background-color: #a00;
}

.utrgv {
	color: #fff;
	background-color: #ffa300;
}

.utah {
	color: #fff;
	background-color: #275038;
}

.byu {
	color: #fff;
	background-color: #025;
}

.gonz {
	color: #fff;
	background-color: #041e42;
}

.loyola-marymount {
	color: #fff;
	background-color: #b62b3a;
}

.pacific {
	color: #fff;
	background-color: #e35205;
}

.pepp {
	color: #fff;
	background-color: #00205c;
}

.port {
	color: #fff;
	background-color: #1e1656;
}

.saint-mary’s {
	color: #fff;
	background-color: #06315b;
}

.san-diego {
	color: #fff;
	background-color: #002868;
}

.san-francisco {
	color: #fff;
	background-color: #00543c;
}

.santa-clara {
	color: #fff;
	background-color: #862633;
}

