.ana {
	background: #b9975b;
	color: black;
}

.ari {
	background: #8c2633;
	color: black;
}

.bos {
	background: #ffb81c;
	color: black;
}

.buf {
	background: #003087;
	color: #ffb81c;
}

.cgy {
	background: #faaf19;
	color: #d2001c;
}

.car {
	background: #ce1126;
	color: black;
}

.chi {
	background: #cf0a2c;
	color: black;
}
.col {
	background: #6f263d;
	color: #236192;
}

.cbj {
	background: #002654;
	color: #a4a9ad;
}

.dal {
	background: #006847;
	color: black;
}

.det {
	background: #ce1126;
}

.edm {
	background: #041e42;
	color: #ff4c00;
}

.fla {
	background: #041e42;
	color: #b9975b;
}

.la {
	background: #111;
	color: #a2aaad;
}

.min {
	background: #154734;
	color: #a6192e;
}

.mtl {
	background: #af1e2d;
	color: #192168;
}


.nsh {
	background: #ffb81c;
	color: #041e42;
}

.nj {
	background: #ce1126;
	color: black;
}

.nyi {
	background: #00539b;
	color: #f47d30;
}

.nyr {
	background: #0038a8;
	color: #ce1126;
}

.ott {
	background: #da1a32;
	color: black;
}

.phi {
	background: black;
	color: #f74902;
}

.pit {
	background: #fcb514;
	color: black;
}

.stl {
	background: #002f87;
	color: #fcb514;
}

.sj {
	background: #006d75;
	color: black;
}

.sea {
	background: #99d9d9;
	color: #001628;
}

.tb {
	background: #002868;
	color: white;
}

.tor {
	background: #00205b;
	color: white;
}

.van {
	background: #00205b;
	color: #99999a;
}

.vgk {
	background: #b4975a;
	color: black;
}

.wpg {
	background: #041e42;
	color: #ac162c;
}

.wsh {
	background: #c8102e;
	color: #041e42;
}